* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(98, 126, 227);
}

.viaje{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.bottons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}